<html>
<head>
<title>Pachanga</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
  function update_status()
  {
  $.get(
  "",
  function(data,status) {
  wp_new = $("#whats_playing", data);
  wp_old = $("#whats_playing");
  wp_old.empty()
  wp_old.append(wp_new)

  }
  );

  }
  var intervalID = setInterval('update_status();', 1000);
</script>

</head>
<body>


{% load url from future %}

<p align=center>
<i>
<font size=5>
<b >Pa  chan  gá EE, pa  chan  gá AA</b> 
</font>
</i> 
</p>




<TABLE>    
<TR>
<TD>
<form action="{% url 'cancionero:play' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Play" />
</form>
</TD>
<TD>
<form action="{% url 'cancionero:stop' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Stop" />
</form>
</TD>
<TD>
<form action="{% url 'cancionero:nextSong' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Next" />
</form>
</TD>
<TD>
<form action="{% url 'cancionero:prev' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Prev" />
</form>
</TD>
</TR>
</TABLE>


<TABLE> 
<TR>
<TD>



{% if song_DB %}
      <ul>
      Data Base
      <p>
      <form action="{% url 'cancionero:addToPlayList' %}" method="post" >
      <div>
      <select name="song_DB" MULTIPLE size="10">
      {% for song in song_DB %}
         <li>{{ song.songName }}</li>
	  <option>{{ song.songName }}-{{ song.songAuthor }}</option>
      {% endfor %}
      
	<input type="submit" value="Add to PlayList" />
      </select>
      </div>
      </form>
      </p>
      </ul>
{% else %}
    <p>List empty.</p>
{% endif %}


</TD>
<TD>


      <ul>
      Play List
      <p>
      
      <select name="songsList" size="10">
      {% for song in song_list %}
         <li>{{ song }}</li>
	  <option>{{ song }}</option>
      {% endfor %}

      </select>
      </p>
      </ul>

</TD>

<TD>

  <div id="whats_playing">
  <ul>
    What's playing?
    {% if not playing %}
    (Player Paused)
    {% endif %}
    <p>
      <li>Name: {{song_title }}</li>
      <li>Artist: {{song_artist }}</li>
      <li>Genre: {{song_genre }}</li>
      <li>Album: {{song_album }}</li>
    </p>
  </ul>
  </div>



</TD>
</TR>
</TABLE>
<!--<input type=button onclick="next()" value="Next">
<input type=button onclick="forward()" value="Forward">
<input type=button onclick="delete()" value="Delete">-->

<BR>
<form action="{% url 'cancionero:addToPlayList' %}" method="post" >
{% csrf_token %}
URL:
<input name="url" >
<input type="submit" value="Add to PlayList" />
<p align=left>
<i>
<font size=2> Para agregar a la cola de reproducción sin agregar a la base de datos </font>
</i> 
</p>
</form>





<p ALIGN=LEFT> 
<br>
<br>
<i>
<font size=5>
<b>Desea agregar más canciones?</b> 
</font>
</i> 
</p>


<form action="{% url 'cancionero:addSong' %}" method="post" >
{% csrf_token %}
<TABLE>
<TR><TD>Nombre del tema:</TD>
<TD><input name="name" ></TD>
</TR>
<TR><TD>URL del tema:</TD>
<TD><input name="url" ></TD>
</TR>
<TR><TD>Autor(opcional):</TD>
<TD><input name="author" > </TD>
</TR>
<TR><TD>Estilo(opcional):</TD>
<TD><input name="style" ></TD>
</TR>
</TABLE>
<input type="submit" value="Agregar" />
</form>



<script language="JavaScript">
function sendNewSong(){
    alert('La cancion fue agregada correctamente.');
}

function addToPlayList(){
   var id = document.songsList.selectedIndex;
   var url = document.formNewSong.url.value;
   var n = document.formNewSong.author.value;
   var nombre = document.formNewSong.style.value;
   return true;

}

function play(){
  
}

function stop(){
}

function next(){
}

function forward(){
}

function delete(){
}
</script> 
</body>
</html>

