<html>
<head>
<title>Pachanga</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
  function update_status()
  {
  $.get(
  "",
  function(data,status) {
  // update current track
  wp_new = $("#whats_playing", data);
  wp_old = $("#whats_playing");
  wp_old.empty()
  wp_old.append(wp_new)

  // update playlist
  pl_new = $("#playlist", data);
  pl_old = $("#playlist");
  pl_old.empty()
  pl_old.append(pl_new)

  }
  );

  }
  var intervalID = setInterval('update_status();', 1000);
</script>

</head>
<body>


{% load url from future %}

<p align=center>
<i>
<font size=5>
<b >Pa  chan  gá EE, pa  chan  gá AA</b> 
</font>
</i> 
</p>




<TABLE>    
<TR>
<TD>
<form action="{% url 'cancionero:play' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Play" />
</form>
</TD>
<TD>
<form action="{% url 'cancionero:stop' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Stop" />
</form>
</TD>
<TD>
<form action="{% url 'cancionero:nextSong' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Next" />
</form>
</TD>
<TD>
<form action="{% url 'cancionero:prev' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Prev" />
</form>
</TD>
<TD>
<form action="{% url 'cancionero:queueClear' %}" method="post" >
{% csrf_token %}
<input type="submit" value="Clear Queue" />
</form>
</TD>
</TR>
</TABLE>


<TABLE> 
<TR>
<TD>



{% if song_DB %}
      <ul>
      Data Base
      <p>
      <form action="{% url 'cancionero:dbToPlayList' %}" method="post" >
      <div>
      <select name="song_DB" MULTIPLE size="10">
      {% for song in song_DB %}
	  <option value='{{ song.id }}'>{{ song.songName }}-{{ song.songAuthor }}</option>
      {% endfor %}
      
	<input type="submit" value="Add to PlayList" />
      </select>
      </div>
      </form>
      </p>
      </ul>
{% else %}
    <p>List empty.</p>
{% endif %}


</TD>
<TD>

  <div id="playlist">
      <ul>
      Play List
      <p>
      <form action="{% url 'cancionero:removeFromPL' %}" method="post" >
      <select name="songsList" MULTIPLE size="10">
      {% for songId, songName in song_list %}
	 <option value='{{songId}}'>{{ songName }}</option>
      {% endfor %}
      <input type="submit" value="Remove from PL" />
      </select>
      </form>
      </p>
      </ul>
  </div>
</TD>

<TD>

  <div id="whats_playing">
  <ul>
    What's playing?
    {% if not playing %}
    (Player Paused)
    {% endif %}
    <p>
      <TABLE>
      <TR><TD>Name:</TD>
      <TD>{{song_title }}</TD>
      </TR>
      <TR><TD>Artist:</TD>
      <TD>{{song_artist }} </TD>
      </TR>
      <TR><TD>Album:</TD>
      <TD>{{song_album }}</TD>
      </TR>
      <TR><TD>Style:</TD>
      <TD>{{song_genre }}</TD>
      </TR>
      </TABLE>
      
      
    </p>
  </ul>
  </div>



</TD>
</TR>
</TABLE>
<!--<input type=button onclick="next()" value="Next">
<input type=button onclick="forward()" value="Forward">
<input type=button onclick="delete()" value="Delete">-->

<BR>
<form action="{% url 'cancionero:addToPlayList' %}" method="post" >
{% csrf_token %}
URL:
<input name="url" >
<input type="submit" value="Add to PlayList" />
<p align=left>
<i>
<font size=2> Without adding to the Data Base </font>
</i> 
</p>
</form>





<p ALIGN=LEFT> 
<br>
<br>
<i>
<font size=5>
<b>Add more songs to the Data Base</b> 
</font>
</i> 
</p>


<form action="{% url 'cancionero:addSong' %}" method="post" >
{% csrf_token %}
<TABLE>
<TR><TD>Name:</TD>
<TD><input name="name" ></TD>
</TR>
<TR><TD>Source:</TD>
<TD><input name="url" ></TD>
</TR>
<TR><TD>Artist(opcional):</TD>
<TD><input name="author" > </TD>
</TR>
<TR><TD>Style(opcional):</TD>
<TD><input name="style" ></TD>
</TR>
</TABLE>
<input type="submit" value="Add" />
</form>



<script language="JavaScript">
function sendNewSong(){
    alert('La cancion fue agregada correctamente.');
}

function addToPlayList(){
   var id = document.songsList.selectedIndex;
   var url = document.formNewSong.url.value;
   var n = document.formNewSong.author.value;
   var nombre = document.formNewSong.style.value;
   return true;

}

function play(){
  
}

function stop(){
}

function next(){
}

function forward(){
}

function delete(){
}
</script> 
</body>
</html>

